name: CI

on:
  push:

jobs:
  build:
    name: Restore, Build, Test, Pack
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '10.0.x'

      - name: Restore
        run: dotnet restore

      - name: Build
        run: dotnet build --configuration Release --no-restore --nologo

      - name: Test
        run: dotnet test --configuration Release --no-build --nologo